body {
  color: #444;
  font-family: 'Lato', sans-serif;
}
code {
  color: #444;
}
h1, h2, h3, h4, h4, h5 {
  font-family: 'Lato', sans-serif;
}
h1 > small {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
  color: rgb(138,87,47);
}
p, ul {
  font-family: 'Lato', serif;
  font-size: 18px;
}
.footer, .footer > p {
  font-family: 'Lato', serif;
  font-size: 14px;
}
pre {
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
}
.keyword {
  font-weight: bold;
  color: #0060B0;
}
.identifier {
  color: #B00060;
}
.string {
  color: #008000;
}
.section {
  margin-top: 50px;
}
.arg {
  color: #303090;
}
.jumbotron {
  background-color: #E1F2F5;
}
.header {
  margin-top: 50px;
  margin-bottom: 50px;
}
table {
  width: 100%;
}
th, td {
  text-align: left;
}
.golo-code span {
  font-family: 'Fira Mono', monospace;
  font-size: 18px;
}
img {
  display: block;  height: auto;  max-width: 100%;
}
