body {
  color: #444;
  font-family: 'Droid Sans', sans-serif;
}
h1, h2, h4, h4, h5, .btn, .header > p {
  font-family: 'Droid Sans', sans-serif;
}
code {
  color: #444;
}
p, ul {
  font-family: 'Droid Serif', serif;
  font-size: 16px;
}
.footer, .footer > p {
  font-family: 'Droid Serif', serif;
  font-size: 13px;
}
.golo-code {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}
.keyword {
  font-weight: bold;
  color: #0060B0;
}
.identifier {
  color: #B00060;
}
.string {
  color: #008000;
}
.section {
  margin-top: 50px;
}
.arg {
  color: #303090;
}
.jumbotron {
  background-color: #E1F2F5;
}
.header {
  margin-top: 50px;
  margin-bottom: 50px;
}
table {
  width: 100%;
}
th, td {
  text-align: left;
}
