<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Eclipse Golo has been terminated</h3>
    </div>
    <div class="panel-body">
        <p><strong>The Eclipse Golo project has been terminated.</strong></p>
        <p>
            The developers have moved on to other personal and professional priorities.
            Migrating the code base beyond Java 8 has turned out to be too complex due to the <em>Java Platform Module System</em> introduced with Java 9 and strong encapsulation constraints.
        </p>
        <p>We would like to thank all contributors and participants over the years for their enthusiasm!</p>
        <p>Thanks for the ride, it's been a fun one 🙏</p>
    </div>
</div>