<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link href='https://fonts.googleapis.com/css?family=Lato|Indie+Flower|Fira+Mono' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/images/icon.png">
    <link rel="alternate" type="application/rss+xml" href="http://golo-lang.org/feed.xml">
  </head>

  <body>

    <div class="container">

      <div class="header">
        <div class="pull-right">
          <a href="https://projects.eclipse.org/projects/technology.golo"><img alt="Eclipse Incubation Egg" src="/images/Egg-incubation.png"/></a>
        </div>
        <h1>
          <a href="/"><img src="/images/logo-golo.png" alt="Golo"></a>
          <br/><small>&mdash; a lightweight dynamic language for the JVM.</small>
        </h1>
      </div>

      <article>
      {{ content }}
      </article>

      <div class="footer">
        <hr/>
        <p>
          Copyright &copy; 2012 &ndash; 2015 INSA-Lyon and contributors.
          <br/>
          The Golo source code, binaries, documentation and website are made available under the terms of the
          <a href="http://www.eclipse.org/legal/epl-v10.html">Eclipse Public License v1.0</a>.
          <br/>
          Golo was originally being developed as part of the research activities of the
          <a href="http://dynamid.citi-lab.fr/">Dynamid</a> group of the
          <a href="http://www.citi-lab.fr/">CITI Laboratory</a> at
          <a href="http://www.insa-lyon.fr/">INSA-Lyon</a>, and is now an
          <a href="https://projects.eclipse.org/projects/technology.golo">incubating technology project</a>
          at the <a href="https://www.eclipse.org/">Eclipse Foundation</a>.
          <br/>
          Logo by <a href="http://www.guillaumepoyet.com">Guillaume Poyet</a>.
        </p>
        <p>
          <a class="pull-left" href="http://www.insa-lyon.fr/"><img src="/images/logo-insa.png"></a>
          <a class="pull-right" href="http://www.citi-lab.fr/"><img src="/images/logo-citi.png"></a>
        </p>
      </div>

    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-658166-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
