<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Inconsolata:400,700|Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  </head>

  <body>    
        
    <div class="container">
      
      <div class="header">        
        <h1>
          <a href="/"><img src="/images/logo-golo.png" alt="Golo"></a>
          <br/><small>&mdash; a lightweight dynamic language for the JVM.</small>
        </h1>
      </div>
      
      <article>
      {{ content }}
      </article>
      
      <div class="footer">
        <hr/>
        <p>
          Copyright &copy; 2012 &ndash; 2013 INSA-Lyon and contributors.
          <br/>
          The Golo source code, binaries, documentation and website are made available under the terms of the
          <a href="http://apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
          <br/>
          Golo is being developed as part of the research activities of the
          <a href="http://dynamid.citi-lab.fr/">Dynamid</a> group of the
          <a href="http://www.citi-lab.fr/">CITI Laboratory</a> at
          <a href="http://www.insa-lyon.fr/">INSA-Lyon</a>.
          <br/>
          Logo by <a href="http://www.senscible.com/">Guillaume Poyet / Senscible</a>.
        </p>
        <p>
          <a class="pull-left" href="http://www.insa-lyon.fr/"><img src="/images/logo-insa.png"></a>
          <a class="pull-right" href="http://www.citi-lab.fr/"><img src="/images/logo-citi.png"></a>
        </p>
      </div>

    </div>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-658166-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
  </body>
</html>

