<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="description" content="Golo, a lightweight dynamic language for the JVM.">
    <meta name="author" content="The Golo Project">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato|Indie+Flower|Fira+Mono'>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="icon" href="/images/icon.png">
    <link rel="alternate" type="application/rss+xml" href="http://golo-lang.org/feed.xml">
  </head>

  <body>

    <div class="container">

      <div class="header">
        <h1>
          <a href="/"><img src="/images/logo-golo.png" alt="Golo"></a>
          <br/><small>&mdash; a lightweight dynamic language for the JVM.</small>
        </h1>
      </div>

      <article>
      {{ content }}
      </article>

      <div>
        <hr/>
        <p>
          Copyright &copy; 2012 &ndash; 2017 INSA Lyon, CITI Laboratory and contributors.
        </p>
        <p>
          <a href="http://www.eclipse.org/legal/privacy.php">Privacy Policy</a> |
          <a href="http://www.eclipse.org/legal/termsofuse.php">Terms of Use</a> |
          <a href="http://www.eclipse.org/legal/copyright.php">Copyright Agent</a> |
          <a href="https://www.eclipse.org/org/documents/epl-v10.php">Eclipse Public License</a> |
          <a href="http://www.eclipse.org/legal/">Legal Resources</a>
        </p>
      </div>

      <div class="footer">
        <p>
          The Eclipse Golo source code, binaries, documentation and website are made available under the terms of the
          <a href="http://www.eclipse.org/legal/epl-v10.html">Eclipse Public License v1.0</a>.
          <br/>
          Eclipse Golo was originally being developed as part of the research activities of the
          <a href="http://dynamid.citi-lab.fr/">Dynamid</a> group of the
          <a href="http://www.citi-lab.fr/">CITI Laboratory</a> at
          <a href="http://www.insa-lyon.fr/">INSA-Lyon</a>, and is now a
          <a href="https://projects.eclipse.org/projects/technology.golo">Technology Project</a>
          at the <a href="https://www.eclipse.org/">Eclipse Foundation</a>.
          <br/>
          The original logo was designed and donated by <a href="http://www.guillaumepoyet.com">Guillaume Poyet</a>.
        </p>
        <div class="row">
          <div class="col-md-4">
            <a href="http://www.insa-lyon.fr/"><img class="img-responsive" src="/images/logo-insa.png"></a>
          </div>
          <div class="col-md-4">
            <a href="http://www.citi-lab.fr/"><img class="img-responsive" src="/images/logo-citi.png"></a>
          </div>
          <div class="col-md-4">
            <a href="http://www.eclipse.org/"><img class="img-responsive" src="/images/eclipse_logo_colour.png"></a>
          </div>
        </div>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-658166-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
